#calculator-container{
    display:flex;
    flex-direction:column;
}

#calculator-container div{
    display:flex;
    justify-content:space-between;
    width:100px;
}

#result {
    width:100px;
    margin-bottom:10px;
}